:root{
  --primary-color: #842222;
  --secondary-color: #c06a6a;
}


/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
 

 /* PRE LOADER*/

 .loader{
  background-color: rgba(0,0,0);
  background-image: url(./Assests/loader.svg);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 99999;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
 }

 .no-loader{
  visibility: hidden;
 }

 /*Navbar Section*/
.navbar{
  position: fixed !important;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;

  /* display: flex;
  background-color: black; 
  position: fixed !important;
  width: 100%;
  top: 0;
  left: 0;
  height: 5rem;
  font-size: 2.4rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  z-index: 99; */
}


.navbar-collapse .navbar-nav{
  justify-content: space-around !important;
  gap: 10rem !important;
}

.nav-link{
  font-size: 2.4rem !important;
}

.container .navbar-brand{
  font-size: 3.6rem !important;
}

.nav-bar-link{
 /*  display: flex;
  gap:10rem;
  justify-content: space-around;
  align-items: center; */
}

.navbar-toggler{
 /*  display: block;
  width: 3rem;
  height: 3rem; */
}

.navbar-toggler-icon{
  /* border: none; */
}

@media (max-width: 1200px){
  .navbar-collapse .navbar-nav{
      gap: 5rem !important;
  }
}

@media(max-width: 990px){
  .navbar-collapse .navbar-nav{
    gap: 3rem !important;
  }
  .nav-link{
    text-align: justify;
  }
  .nav-link svg{
    display: block;
  }

}

@media(max-width: 767px){
  .navbar{
    position: static !important;
  }
}

@media(max-width: 611px){
  .navbar{
    width: 100%;
  }
}

/* @media (max-width:990px) {
  .nav-bar{
    height: 7rem;
  }
  .nav-bar-link .nav-item .nav-link{
    text-align: center;
  }
} */
/* Footer Section*/

.footer{
  background-color: black;
  width: 100% !important;
  height: 56px;
  
}

/*Home Page*/

.home{
  background-image: linear-gradient(rgba(34,34,34,0.6), rgba(34,34,34,0.6)), url(./Assests/Home-Page-Background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  padding: 100px;
}

.image{
  height: 500px;
  width: 500px;
  border-radius: 50%;
  border: 7px solid var(--primary-color);
  background-color: white;
  background-image: url(./Assests/Me.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
}

/*Project Page*/

.project-card {
  height: 500px ;
  width: 500px;
  margin: 50px;
}

.card-img{
  height: fit-content;
  width: fit-content;
}