:root{
  --primary-color: #842222;
  --secondary-color: #c06a6a;
}


/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
 

 /* PRE LOADER*/

 .loader{
  background-color: rgba(0,0,0);
  background-image: url(./Assests/loader.svg);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 99999;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
 }

 .no-loader{
  visibility: hidden;
 }

 /*Navbar Section*/
/* .navbar{
  display: flex;
   background-color: black; 
  height: 50px;
  font-size: 24px;
  justify-content: space-between;
  align-items: center;
}

.navbar-nav{
  display: flex;
  gap:30px;
  justify-content: space-around;
  align-items: center;
}

.navbar-toggler{
  display: block;
  width: 30px;
  height: 30px;
} */

/* Footer Section*/

.footer{
  background-color: black;
  width: 100% !important;
  height: 56px;
  
}

/*Home Page*/

.home{
  background-image: linear-gradient(rgba(34,34,34,0.6), rgba(34,34,34,0.6)), url(./Assests/Home-Page-Background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: fit-content;
  width: 100%;
  padding: 1rem;
}



.image{
  height: 30rem;
  width: 30rem;
  border-radius: 50%;
  border: 7px solid var(--primary-color);
  background-color: white;
  background-image: url(./Assests/Me.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
}

.image-container{
  display: flex;
  justify-content: center;
}


.text-container{
  text-align: center;
  margin-bottom: 1rem;
}

.type-container{
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2.4rem;
}


.button-container{
  justify-content: center;
  margin-bottom: 2rem;
}

.icon-container{
  text-align: center;
}

.icons-list{
  display:flex;
  list-style-type:none;
  gap:25px;
  justify-content:center;
}

.icons-list li a svg{
  font-size: 3.6rem;
  color: black;
}

@media(max-width: 1200px){
  .image{
    width: 20rem;
    height: 20rem;
  }
  .text-container h1{
    font-size: 2rem;
  }
  .type-container{
    font-size: 2rem;
  }
  .icon-container h1{
    font-size: 2rem;
  }
}

@media(max-width: 990px){
  .image{
    width: 15rem;
    height: 15rem;
  }

  .text-container h1{
    font-size: 1.5rem;
  }

  .type-container{
    font-size: 1.5rem;
  }

  .icon-container h1{
    font-size: 1.5rem;
  }

  .icons-list li a svg{
    font-size: 2.4rem;
  }
}

@media(max-width: 767px){
 
  .home-container{
    display: flex;
    flex-direction: column;
  }
  
  .image-container{
    display: flex;
    justify-content: center;
  }

  .image{
    width: 20rem;
    height: 20rem;
  }
}

/*Project Page*/

.project-card {
  height: 500px ;
  width: 500px;
  margin: 50px;
}

.card-img{
  height: fit-content;
  width: fit-content;
}